@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

input,
textarea {
  padding: 10px;
  width: 400px;
  margin: 5px 0;
}

textarea {
  height: 150px;
}

button {
  padding: 12px 20px;
  color: white;
  background: #61a557;
  border: none;
  cursor: pointer;
  border: 2px solid #61a557;
  transition: all 0.3s;
}

button:hover {
  background: white;
  color: #61a557;
}

svg {
  width: 200px;
}

@media (max-width: 500px) {
  input,
  textarea {
    width: 100%;
  }
  svg {
    width: 100%;
  }
  .form-container {
    flex-direction: column;
  }
}
